.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.about-us-link {
  color: rgb(156, 156, 156);
  font-size: 150%;
  font-family: Arial;
  /* width: 45.833333333315% */
}

.return-to-login {
  margin-top: 100px;
  padding-top: 100px;
  color: white;
}

.main-page {
  background-color: rgb(237, 237, 237);
}

@media only screen and (max-width: 677px) {
  .jumbotron-styles {
    font-weight: normal;
  }
}



